<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tis.mapper.BoardMapper">
	<!-- refer컬럼은 글그룹번호 원글의 글번호를 인덱스로 하자-->
	<insert id="insertBoard" parameterType="Board">
		<selectKey keyProperty="idx" keyColumn="idx" order="BEFORE" resultType="int">
			select board_seq.nextval from dual
		</selectKey>
		insert into board values(#{idx},#{name},#{pwd},#{subject},
		#{content:VARCHAR},sysdate,0,#{filename:VARCHAR},#{originFilename:VARCHAR},
		#{filesize:NUMERIC},#{idx},#{lev},#{sunbun})
	</insert>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from board
	</select>
	
	<select id="selectBoardAllPaging" parameterType="Paging" resultType="Board">
		select * from (
  			select board.*, row_number() over(order by refer desc, sunbun asc) rn from board
		)
		<!-- 부등호가 들어가는 부분은 CDATA SECTION으로 감싸주자 (문자 데이터 영역을 표시함)-->
		<![CDATA[where rn >#{start} and rn<=#{end}]]>
	</select>
	
	<update id="updateReadnum" parameterType="int">
		update board set readnum = readnum+1 where idx=#{idx}
	</update>
	<select id="selectBoardByIdx" parameterType="int" resultType="Board">
		select * from board where idx=#{idx}
	</select>
	<!-- [답변글쓰기 관련] 부모글의 refer,lev,sunbun가져오기 -->
	<select id="selectRefLevSunbun" parameterType="int" resultType="Board">
		select refer, lev, sunbun from board where idx=#{idx}
	</select>
	
	<!-- [답변글스기 관련] 2단계 기존에 달려있는 답변글들이 있다면 sunbun을 하나씩 뒤로 밀어내기 한다.-->
	<update id="updateSunbun" parameterType="Board">
		update board set sunbun = sunbun+1 where refer=#{refer} and sunbun > #{sunbun}
	</update>
	
	<!-- [답변글스기 관련] 3단계  답변글 등록하기-->
	<insert id="rewriteBoard" parameterType="Board">
		<selectKey keyProperty="idx" keyColumn="idx" order="BEFORE" resultType="int">
			select board_seq.nextval from dual
		</selectKey>
		insert into board values(#{idx},#{name},#{pwd},#{subject},
		#{content:VARCHAR},sysdate,0,#{filename:VARCHAR},#{originFilename:VARCHAR},
		#{filesize:NUMERIC},#{refer},#{lev},#{sunbun})
	</insert>
</mapper>